header{
	top: 0px;
}
html body{
	width: 100%;
}
.article{
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #fff;
}
.article .bd-wrapper{
  width: 1100px;
  margin:0 auto;
  overflow: hidden;
}
.article .bd-wrapper .bd-hd{
    width: 100%;
    margin:0 auto;
    overflow: hidden;
}
.article .bd-wrapper .bd-hd .bd-container{
  width: 870px;
  margin-top: 10px;
  float:left;
  box-shadow:1px 1px 5px #bdbdbd;
  border-radius: 7px;
  background: #ffe;
}
.article .bd-wrapper .bd-hd .bd-container span{
	margin-top: 10px;
	margin-left: 10px;
	color: #b7b7b7;
}
.article .bd-wrapper .bd-hd .bd-container a{
    color: #000;
    -webkit-transition:.3s ease-in-out;
   -moz-transition:.3s ease-in-out;
   -ms-transition:.3s ease-in-out;
   -o-transition:.3s ease-in-out;
   transition:.3s ease-in-out;
}
.article .bd-wrapper .bd-hd .bd-container a:hover{
	color:#2BC3D3;
}
.article .bd-wrapper .bd-hd .bd-container .bd-container-hd-bd{
		margin: 10px;
		height: 50px;
		text-align: center;
		border-bottom: 1px solid #A0A0A0;
}




/*侧边栏*/
.bd-sidebar{
  width:216px;
  height:760px;
  margin-top:20px;
  float:right;
  margin-right:2px;
}
.bd-sidebar .sidebar{
  position:relative; 
  width:100%;
  height:330px;
  background-color:#fff;
  border-top:1px solid #E0E0E0;
  border-left:1px solid #E0E0E0;
  border-right:1px solid #E0E0E0;
}
.bd-sidebar .sidebar:after{
  display:block;
  content:'';
  width:216px;
  height:20px;
  background:#000;
}

.bd-sidebar .sidebar-hot{
  margin-top:40px;
}
.bd-sidebar .sidebar .sidebar-container{
  width:90%;
  height:320px;
  margin:10px auto 0;
}
.bd-sidebar .sidebar h3{
  font-size:14px;
  padding-bottom:5px;
  color:#666;
  border-bottom:1px solid #D2D2D2;
}
.bd-sidebar .sidebar h3 i{
  font-family:'iconfont';
  font-size:12px;
  font-style:normal;
  margin-right:5px;
  color: #FF9800;
}
.bd-sidebar .sidebar .sidebar-menu{
  margin-top:10px;
}
.bd-sidebar .sidebar .sidebar-menu li{
  padding-top:6px;
  padding-bottom:6px;
  font-size:12px;
  overflow:hidden;
  -webkit-transition:.3s ease-in-out;
  -moz-transition:.3s ease-in-out;
  -ms-transition:.3s ease-in-out;
  -o-transition:.3s ease-in-out;
  transition:.3s ease-in-out;
  cursor:pointer;
}
.bd-sidebar .sidebar .sidebar-menu li a{
  display:block;
  width:100%;
  color:#999;
}
.bd-sidebar .sidebar .sidebar-menu li:hover{
  text-indent:4px;
  background-color:#EAEAEA; 
}